.btn-gitlab {

  background-color: $color-gitlab;

  border-radius: 4px;

  color: $color-white;

  font-size: 1.1rem;

  font-weight: bold;

  line-height: 2;

  &:hover {
    background-color: $color-gitlab-hover;
    color: $color-white;
  }

  .icon {
    left: -5px;
    position: relative;
    top: 6px;
  }

  .fa-gitlab {
    color: $fa-gitlab-color;
  }
}
